In [1]:
import pandas as pd

In [157]:
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [6]:
 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
races = df['race'].value_counts()
print(races)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [28]:
# What is the average age of men?
men = df[df['sex'] == 'Male']
round(men['age'].mean(),1)

39.4

In [37]:
# What is the percentage of people who have a Bachelor's degree?
Has = df['education'].value_counts()['Bachelors']
All = df['education'].notnull().sum()
print (round(((Has/All)*100) ,1),'%')

16.4 %

In [77]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
salaryy = df.loc[df['salary'] == '<=50K']
higher_education = salaryy[salaryy['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
percentage = round((higher_education.shape[0]/df.shape[0])*100,1)
print(percentage,'%')

12.3 %

In [80]:
# What percentage of people without advanced education make more than 50K?
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
salaryyy = lower_education[lower_education['salary'] == '<=50K']
percentagee = round((lower_education.shape[0]/df.shape[0])*100,1)
print(percentagee,'%')

77.0 %

In [155]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
print(min_work_hours)

1

In [116]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
salaryyy = df.loc[df['salary'] == '>50K']
workin = salaryyy.loc[salaryyy['hours-per-week'] == '1']
percentage_ = (len(workin)/len(df)*100)
print(percentage_,'%')

0.0 %

In [149]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
rich = df.loc[df['salary'] == '>50K']
country = rich['native-country'].mode()[0]
print('The country is', country)
countryy = rich.loc[rich['native-country'] == country ]
percen = round((len(countryy)/len(df)*100),1)
print(percen , '%')

The country is United-States
22.0 %

In [152]:
# Identify the most popular occupation for those who earn >50K in India.
workers = rich.loc[rich['native-country'] == 'India']
occupationn = rich['occupation'].mode()[0]
print(occupationn)

Exec-managerial